body {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:2em;
}
.navbar-default {
    background-color: rgba(60, 118, 61, 1);
    border-color: white;
}
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
.one {list-style: none;}
h1 {text-decoration: underline;}
.me {width: 180px;}
.fab falinkedin {color: blue;}